body {
 display: flex;
 flex-direction: column;
}

.head {
  display: flex;
  justify-content: space-around;
}

.buttons {
  display: flex;
  justify-content: space-between;
}

button{
  margin: 20px;
  height: 20px;
  width: 100%;
}

.todo{
  margin: 20px;
 }

.master {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 20px;
}



.cardBack{
  border: 2px solid black;
  height: 100px;
  width:80px;
  margin: 20px;
}